INGEST_COMPANY=ACP
INGEST_LOBBIES=livepoker,livetop10,livejuegosespanol,liveruleta,GameShowdesktop,liveblackjack,livemesasvip,liveasiatico
# INGEST_LOBBY=livepoker  # solo si un lobby
DYNAMODB_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
CATALOG_TABLE_NAME=col_maestro_transversal_juegos
NODE_ENV=development
